
body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  header {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
      
    background-size: cover;
    height: 100vh;
  }
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 3rem;
    white-space: nowrap;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    margin: 0;
    font-size: 1.3rem;
  }
  
  main {
    max-width: 500px;
    margin: 20px auto;
  }