
body {
    font-family: 'Source Sans Pro', sans-serif;
  }

  
  header {
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      /* url(https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
      url(/Website/assets/images/sea-min.jpg);
    background-size: cover;
    height: 100vh;
    background-position:center;
  }
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  h1 {
  
    margin: 0;
    font-size: 3rem;
    white-space: nowrap;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    margin: 0;
    font-size: 1.3rem;
  }
  
  main {
    max-width: 500px;
    margin: 20px auto;
  }
  /* @media screen and (max-width: 400px){
    header{
        width:400px!important;
    }
} */