.body-wrapper{
    margin-bottom:100px;
}
.banner{
    width:100%;
    height:100px;
    margin:0 auto;
    border-radius:0%;
}
.background{
    background-color:#3d4046;
    color:white;
}
.linkedin{
    border-radius:100%;
    /* float:right; */
    margin:20px auto;
}
.profile{
    border-radius:50%;
    height:150px;
    width:150px;
}
.bio{
    display:block;
    padding: 20px 0px;
    /* position:relative;
    top:0px; */
    font-family:arial;
    font-size: 10px;
    font-weight:600;
    /* color:#fff; */
}
.body{
    /* font-family:arial; */
    /* font-size: 10px; */
    /* font-weight:20; */
    /* position:relative;
    top:-40px; */
    /* margin:10px 0; */
    padding: 10px 10px;
    text-align:left;
    margin-bottom: 100px;
    display:block;
    /* background-color:#368cbf; */
    width:80%;
    margin: 0px auto;
}
/* .header{
    background-color:#368cbf;
    color:white;
} */
.wrapper {
    border-left: 10px solid rgb(78, 138, 228);
    background-color: #eeeeee;
    padding-left: 10px;
    margin: 20px 0px;
}
.body-text{
     padding: 10px 10px;
     font-family:Georgia, 'Times New Roman', Times, serif; 
     font-size: 16px; 
     font-weight:20;
    /* margin:0 0; */
    /* color:white; */
}
@media screen and (min-width: 600px){
    .linkedin{
        margin:10px 10px;
        border-radius:0%;
        float:right;
    }
}

/* .border-button {
    outline: solid 5px #9068be;
    transition: outline 0.6s linear;
    margin: 0.5em;
    padding: 10px 10px;
  }
  
  .border-button:hover { 
      outline: solid 10px rgb(92, 92, 236);
      
    
    } */
  