.header-image {
    border-radius: 50%;
    height:200px;
    width:200px;
    margin: 20px 10px;
}
.background{
    max-width:100%;
    height:auto;
}
.jumbotron{
    background-color:#337AB7;
    color:white;
    margin: 0 auto;
    width:700px;
    font-family:'arial';
}

@media screen and (max-width: 600px){
    .jumbotron{
        width:400px;
    }
    .header-image{
        height:100px;
        width:100px;
    }
}
