.footer{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(114, 96, 218);
    position: fixed;
    left: 0;
    bottom: 0;
  
}
.media{
    display:block;
}
a {
    margin: 0px 10px;
    color:white;
}